[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-openai = "*"
langchain-community = "*"
requests = "*"
urllib3 = "*"
certifi = "*"
pandas = "*"
langchain-text-splitters = "*"
faiss-cpu = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
