[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-openai = "*"
langchain-community = "*"
requests = "*"
urllib3 = "*"
certifi = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.11"
